body {
    background:  no-repeat url("https://thomasvn2005.github.io/cv33/chidiep.png"),
             no-repeat url("https://thomasvn2005.github.io/cv33/circle-cropped%20(12).png");
             width: 300px;
       height: 300px;
       background-color: #28df99;
       background-image: url("https://thomasvn2005.github.io/cv33/circle-cropped%20(12).png");
       background-repeat: no-repeat;
       background-position-x:  right;
       background-position-y: bottom ;
}
h3 {
  color: #e8ffff;
  font-size: 3rem;
  padding-left: 60px;
  font-style: italic;
}
table{
  table-layout: auto;
  width: 70%;
  border-width :  5px   ;
  border-color:  #87431d;
  color: #411f1f;
  border-spacing:  15px;

}
td{
  border-color:#f3c623;
  border-width: 4px;
}
