
     body {
   
       background-color: #28df99;
    
}

      h3 {
        color: #e8ffff;
        font-size: 3rem;
        padding-left: 60px;
        font-family: 'Goldman', cursive;
      }
  hr {
        border-style: dotted none none;

        width: 26%;
        border-width: 27px;
        color: #335d2d;
      }
h1 {
        color: #e8ffff;
        font-size: 3rem;
        padding-left: 60px;
        font-family: 'Goldman', cursive;
      }
table{
  table-layout: auto;
  width: 70%;
  border-width :  5px   ;
  border-color:  #87431d;
  color: #411f1f;

}
td{
  border-color:#f3c623;
  border-width: 4px;
}
